.sidebar {
  height: fit-content;
  min-width: 230px;
  padding-top: 10px;
  height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 0;
}
.sidebar_logo {
  margin-bottom: 20px;
  width: 110px;
  margin-right: auto;
}
.menuHeading {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  margin-left: 10px;
  color: rgb(147, 147, 147);
}
hr {
  background-color: rgb(242, 243, 254);
  margin: 0;
  border: 2px solid rgb(242, 243, 254);
  padding-left: 0;
  width: 100%;
}
